@use '/src/sass/base/variables.scss' as*;




header {
    padding: 20px 0;
    border-bottom: 1px solid $border;
    position: sticky;
    top: 0;
    z-index: 1000;
}


.header__list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
    gap: 50px;
    list-style: none;
}


.header__link {
    color: $text-muted;
    font-size: 18px;
    transition: 0.3s;
    position: relative;
    text-decoration: none;
}


.header__link:hover {
    color: $text;
}


.header__link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -7px;
    width: 0;
    height: 2px;
    background-color: $primary;
    transition: 0.3s;
}


.header__link:hover::after {
    width: 100%;
}




@media (max-width: 600px) {

    .header__list {
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
    }

    .header__item {
        width: calc(33.333% - 20px);
        text-align: center;
    }
}